.contactBody {
    margin: 40px;
    padding: 30px;
    box-shadow: 5px 10px 18px #888888;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #ff9966;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contactBody > * {
    flex: 1 1 auto;
    color: white;
}

.formHeading {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.form-elements {
    padding: 10px;
}


.form-control {
    background: transparent;
    color: white;
}


.form-control:focus {
    background: transparent;
    color: white;
}


#sendBtn {
    text-align: center;
    width: clamp(10rem, 50vw, 20rem);
    margin-top: 20px;
    border-radius: 200px;
    text-align: center;
}


.contactCenter {
    padding: 10px;
}


.separateLineBefore,
.separateLineAfter {
    content: '';
    height: 12rem;
    width: 1px;
    background-color: #727578;
    margin-left: 48px;
}

.separaterText {
    padding: 10px 4px 10px 44px;
}


.socialHeading{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.connectBody {
    text-align: left;
    padding: 20px;
}

.connectLinks > * {
    padding: 10px;
}