.contactBody {
    margin: 40px;
    box-shadow: 5px 10px 18px #888888;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
}


.contactBody > * {
    flex: 1 1 auto;
    color: white;
}


.contactLeft {
    padding: 30px;
}


.contactLeft > img {
    max-height: 500px;
    width: 100%;
}


.contactRight {
    padding: 5px;
    margin: 20px;
}



.formHeading {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}


.form-inline {
    display: flex;
    flex-direction: column;
}


.form-inline > * {
    margin: 10px auto;
}


.form-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


.formName {
    font-size: 1.2rem;
    padding-bottom: 5px;
    margin-left: 5px;
    text-shadow: 2px 2px 2px #888888;;
}


.form-elements {
    padding: 10px;
}


.form-control {
    background: transparent;
    color: white;
    padding: 8px;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #888888;
}


.sendBtn {
    text-align: center;
    width: clamp(10rem, 40vw, 16rem);
    border-radius: 200px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;

    margin: 20px auto;
    box-shadow: 2px 2px 16px #888888;
}


.sendBtn:hover {
    box-shadow: inset 0 0 0 20rem var(--darken-1);
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
  

.sendBtn:active {
    color: #ffffff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}
