:root {
    --main-footer-font-color: #ffffff;
    --main-footer-font-size: 15px;
    --main-footer-background: #292c2f;
}




footer {
    bottom: 0;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--main-footer-background);
    padding: 20px;
    color: var(--main-footer-font-color);
    vertical-align: top;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.footer-main > * {
    display: flex;

    width: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}




.footer-fullname {
    font: normal 36px 'Book Antiqua', cursive;
    margin: 0px;
}

.footer-name {
    color: #5383d3;
}


.footer-center {
    font-size: 1.1rem;
}

.linksHead {
    font-size: 1.2rem;
    font-weight: bold;
}

.footerLinks > * {
    text-decoration: none;
    color: var(--main-footer-font-color);
    margin-right: 16px;
}



.footer-icons {
    text-align: center;
}

.footer-links {
    font-size: 1.4rem;
    color: var(--main-footer-font-color);
    align-items: center;
    padding: 5px 10px 10px;
    margin: 5px;
    background-color: #33383b;
    border-radius: 10%;
}