:root {
    --intro-background-color: #38383D;
    --intro-font-color: white;
    
    --intro-title-typing-speed: 4s;
    --intro-title-typing-delay: 1s;
    --intro-title-typing-characters: 11;
    
    --intro-greet-appear-speed: 4s;
    --intro-greet1-appear-delay: 0.5s;
    --intro-greet2-appear-delay: 2.5s;

    --intro-desc-appear-speed: 1.5s;
    --intro-desc-appear-delay: 4.5s;
}

.introBody {
    height: 100vh;
    background-color: var(--intro-background-color);
    padding: 0px;
    color: var(--intro-font-color);

    border: 4px solid white;
    margin: 0px;
}



.introGreetingBody {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    height: max-content;
}

.greet1, .greet2 {
    font-size: clamp(1.75rem, 4vw, 2rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 10vh;
    
    width: max-content;
    height: max-content;
    
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.greet1 {
    animation: disappear var(--intro-greet-appear-speed) ease var(--intro-greet1-appear-delay) forwards;
}

.greet2 {
    opacity: 0;
    animation: appear var(--intro-greet-appear-speed) ease var(--intro-greet2-appear-delay) forwards;
}


.titleBox {
    position: relative;
}



.introTitleBody {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: max-content;

    padding: 2.5rem 0;
}


.introTitle {
    font-size: clamp(2.5rem, 10vw, 4rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    position: relative;
    height: max-content;
    width: max-content;
    white-space: nowrap;
    margin: 20px auto;
    margin-top: 20vh;
    text-shadow: 0.5px 0.5px 0 #fff,
                8px 8px 4px #000000,
                0.5px 0.5px 0px #fff,
                0px 0.5px 0px #fff,
                0.5px 0px 0px #fff,
                1px 1px 0px #fff,
                1px 1px 0px #fff,
                1.5px 1.5px 0px #fff,
                2px 2px 0px #fff,
                2.5px 2.5px 0px #fff;

    z-index: 50;
}

.introTitle::before,
.introTitle::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 50;
}

.introTitle::before {
    background: var(--intro-background-color);
    animation: typing var(--intro-title-typing-speed) steps(var(--intro-title-typing-characters)) var(--intro-title-typing-delay) forwards;
}

.introTitle::after {
    width: .125rem;
    background: var(--intro-font-color);
    animation: typing var(--intro-title-typing-speed) steps(var(--intro-title-typing-characters)) var(--intro-title-typing-delay) forwards,
    blink 1s steps(var(--intro-title-typing-characters)) infinite;
}



.introDesc {
    padding-bottom: 20px;
    font-size: clamp(1.25rem, 3.5vw, 1.5rem);
    font-family: 'Times New Roman', Times, serif;

    margin: 10px auto;

    visibility: hidden;
    animation: appear var(--intro-desc-appear-speed) ease var(--intro-desc-appear-delay) forwards;
}


.openBraces, .closeBraces {
    position: absolute;
    left: 30px;
}



@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes appear {
    from {
        visibility: hidden;
        opacity: 0;
    }
    
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}