:root {
    --intro-background-color: #33383b;
    --intro-font-color: white;
    
    --intro-title-typing-speed: 4s;
    --intro-title-typing-delay: 2s;
    --intro-title-typing-characters: 11;
    
    --intro-greet-appear-speed: 4s;
    --intro-greet2-appear-delay: 3s;

    --intro-desc-appear-speed: 2s;
    --intro-desc-appear-delay: 5s;
}

.introBody {
    height: calc(max-content + 100px);
    background-color: var(--intro-background-color);
    padding: 10px;
    color: var(--intro-font-color);
}



.introGreetingBody {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.greet1, .greet2 {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
    width: max-content;
    height: max-content;
    
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.greet1 {
    animation: disappear var(--intro-greet-appear-speed) ease forwards;
}

.greet2 {
    opacity: 0;
    animation: appear var(--intro-greet-appear-speed) ease var(--intro-greet2-appear-delay) forwards;
}



.introTitleBody {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: max-content;

    padding-bottom: 2rem;
}


.introTitle {
    font-size: clamp(2rem, 10vw, 4rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    position: relative;
    height: max-content;
    width: max-content;
    white-space: nowrap;
    margin: 20px auto;
}

.introTitle::before,
.introTitle::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.introTitle::before {
    background: var(--intro-background-color);
    animation: typing var(--intro-title-typing-speed) steps(var(--intro-title-typing-characters)) var(--intro-title-typing-delay) forwards;
}

.introTitle::after {
    width: .125rem;
    background: var(--intro-font-color);
    animation: typing var(--intro-title-typing-speed) steps(var(--intro-title-typing-characters)) var(--intro-title-typing-delay) forwards,
    blink 1s steps(var(--intro-title-typing-characters)) infinite;
}



.introDesc {
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;

    margin: 10px auto;

    visibility: hidden;
    animation: appear var(--intro-desc-appear-speed) ease var(--intro-desc-appear-delay) forwards;
}



@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes appear {
    from {
        visibility: hidden;
        opacity: 0;
    }
    
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}