.projectsBody {
    padding: 20px;
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
}


.projectsHeading {
    text-align: center;
}


.projCardBody {
    padding: 10px;
    margin: 10px;
    margin-bottom: 40px;
    
    display: flex;
    align-items: center;
}


.projCard {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}


.projImage {
    margin: 10px;
}


.projImage > * {
    border-radius: 10px;
}


.projTitle > h3{
    margin: 10px 0px 0px 5px;
}


.projBuilt > *{
    margin-top: 0px;
}


.projLink {
    margin-bottom: 5px;
}


@media only screen and (max-width: 768px) {
    .projectsBody {
        padding: 10px;
        padding-top: 20px;
    }

    .projCardBody {    
        margin: 10px;    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}